
.top_menu_img {
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  width: 100%;

}

.top_menu{
  width: 100%;
  max-width:800px;
  margin: 25px;  
  margin-right:auto;
  margin-left:auto;
}

.main_content{
  margin-top:80px;
}